.clearfix{
	*zoom: 1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
body{
	font-size: 12px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.bg{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
}
.lBg{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
}
.borderset{
	border-left: 2px solid #2a2b2d;
	border-right: 2px solid #2a2b2d;
}
