body,h1,form,p,h3,h4{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
input{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #d8d8d8;
}
img{
	vertical-align: top;
	border: none;
}
